<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <h1>Show Item</h1>
    <form>
      <label for="name">name</label>
      <input type="text" id="name" name="name" value="<%= items[name] %>">
      <label for="price">price</label>
      <input type="text" id="price" name="price" value="<%= items[price] %>">
    </form>
  </body>
</html>
